.block_remlab_manager .content {
    text-align: center;
    margin: auto;
}

.block_remlab_manager .remlab_select {
    width: 100%;
    margin-bottom: 0.2em;
}

.block_remlab_manager .remlab_button {
    border-radius: 5px;
    background-color: transparent;
    color: black!important;
    padding: 5px;
    margin: 0.2em 0.1em 0.2em 0.1em;
    box-shadow: none;
    border: 1px solid lightgrey;
    line-height: 0;
    text-transform: none;
}

.block_remlab_manager .remlab_button:hover {
    color: white!important;
    background-color: #009aca;
}